{% extends "auctions/layout.html" %}

{% block body %}
{% if all %}
    <h2>All Listings</h2>
{% elif watchlist %}
    <h2>Watchlist</h2>
{% else %}
    <h2>Active Listings</h2>
{% endif %}

        {% for auction in auction_list %}
        <a href="{% url 'listings_details' auction_pk=auction.pk %}" class="link_detail">
            <div class="d-flex mb-3 rounded p-0 listing">
                <div class="col-4 text-center align-items-center m-auto px-0">
                    {% if auction.image %}
                        <img src="{{ auction.image.url }}" class="rounded">
                    {% else %}
                        <span class="text-muted m-0">No photo.</span>
                    {% endif %}
                </div>
                <div class="col-10 pl-3 py-2">
                    <h5>{{ auction.title }}</h5>
                    {% if auction.current_price %}
                        <p class="mb-0">Price: ${{ auction.current_price }}</p>
                    {% else %}
                        <p class="mb-0">Price: ${{ auction.min_price }}</p>
                    {% endif %}
                    {% if auction.active %}
                        <p class="text-success">active</p>
                    {% else %}
                        <p class="text-danger">closed</p>
                    {% endif %}
                    <p class="mb-0 text-muted">Created: {{ auction.created }}</p>
                </div>
            </div>
        </a>
        {% empty %}
            {% if all %}
                No any auctions.
            {% elif watchlist %}
                No any watched auctions.
            {% else %}
                No any active auctions.
            {% endif %}
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for page_nr in page_obj.paginator.page_range %}
                        {% if page_nr == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_nr }}">{{ page_nr }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_nr }}">{{ page_nr }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

{% endblock %}