{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
        <script src="{% static 'auctions/auctions.js' %}" defer></script>
    </head>
    <body>
        <h1><a href="{% url 'index' %}" class="text-decoration-none text-body">Auctions</a></h1>
        <div class="mb-3">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
                <a class="d-inline btn btn-outline-primary btn-sm" role="button"
                   href="{% url 'logout' %}">Log Out</a>
            {% else %}
                Not signed in.
                <a class="d-inline btn btn-outline-primary btn-sm" role="button"
                   href="{% url 'login' %}">Log In</a>
                <a class="d-inline btn btn-primary btn-sm" role="button"
                   href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'all_listings' %}">All Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for cat in categories %}
                            <a class="dropdown-item" href="{% url 'category_listings' cat.name %}">{{ cat.name }}</a>
                        {% empty %}
                            No any categories.
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist
                        <span class="badge badge-primary">{{ watchlist_count }}</span></a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_auction' %}">Create auction</a>
            </li>
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
