{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h3>Listings: {{ auction.title }}</h3>
</div>
{% if auction.image %}
<div>
    <img src="{{ auction.image.url }}">
</div>
<div class="my-2 ml-3">Description: {{ auction.description }}</div>
{% endif %}
<div>
    {% if auction.current_price %}
        <h3 class="font-weight-bold">${{ auction.current_price }}</h3>
    {% else %}
        <h3 class="font-weight-bold">${{ auction.min_price }}</h3>
    {% endif %}
</div>
{% if auction.active %}
    {% if user.is_authenticated and user != auction.owner %}
        <form action="" method="POST">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" name="add_bid">
        </form>
    {% elif user.is_authenticated and user == auction.owner%}
        <form action="" method="POST">{% csrf_token %}
            <input type="submit" value="Close Listings" class="btn btn-danger btn-block" name="close_listings">
        </form>
    {% endif %}
{% else %}
    <p class="text-danger">Listing is closed.</p>
{% endif %}
<div class="mt-3">
    <h4>Details</h4>
    <ul>
        <li>Listed by: {{ auction.owner }}</li>
        <li>
            Category:
            {% for cat in auction.category.all %}
            {{ cat.name }},
            {% empty %}
            No Category Listed
            {% endfor %}
        </li>
    </ul>
</div>

{% endblock %}